@model Lanche
<div class="col-sm-4 col-md-4 col-lg-4">
    <img src="~/imagens/@Model.ImagemUrl" class="img-fluid" />
    <h3>Preço: @Model.Preco.ToString("c")</h3>
    <h4>Lanche: @Model.Nome</h4>
    <p>Lanche: @Model.Descricao</p>
</div>
